<launch>

	<include file="$(find carebuddy_bringup)/launch/localization.launch"/>
	<!--include file="$(find ros_erle_rover_navigation)/launch/move_base.launch"/-->

	<include file="$(find carebuddy_bringup)/launch/odom_laser.launch"/>
	<include file="$(find carebuddy_bringup)/launch/tf.launch"/>
	<include file="$(find carebuddy_bringup)/launch/view_navigation.launch"/>

	<!-- Map server -->
	<arg name="map_file" default="map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

</launch>
